// COLORS
$color-primary: #01384D;
$color-secondary: #EABF9F;
$color-white: #000000;

// Container
$width-container: 1240px;
$p-container: 20px;

// FONTS
$font-primary: 'Raleway';
$font-secondary: 'Josefin Sans', sans-serif;
$font-abella: 'Abril Fatface', cursive;
