.carousel {
    padding-bottom: 171px;
    position: relative;

    &__page {
        display: flex;
    }

    &__title {
        margin-top: 71px;
        margin-bottom: 50px;
        max-width: 735px;
        width: 100%;
        font-weight: 800;
        font-size: 90px;
    }

    &__btn {
        &::after {
            content: '';
            margin-left: 15px;
            display: inline-block;
            width: 15px;
            height: 20px;
            position: relative;
            top: 5px;
            background-image: url('../../images/arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
    }

    &__image {
        img {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}


// Responsiveness =====================
// mobile
@media (max-width: 992px) {

    .carousel {
        &__title {
            width: 320px;
            font-family: $font-abella;
            font-weight: 400;
            font-size: 41px;
            line-height: 55px;
        }

        &__btn {
            position: absolute;
            bottom: -100px;
        }
    }
}

